
h2{
    font-family: 'Dancing Script', cursive;
    padding-right:10px;
    color: #65d31f;
}
.container .nav-item .nav-link{
    color: #65d31f;
}
.navbar .nav-item {
   margin-left:15px;
   margin-right:15px;
  }
  .navbar .nav-item a{
      font-family: 'Montserrat', sans-serif;

  }

  .nav-item .cart_icon
  {
      position: relative;
      size: 30px;
      color: #fff;
  }

  .cart_icon i {
      font-size: 24px;
      color: #fff;
  }

  .cart_value
  {
    position: absolute;
    top:-16px;
    right: -32px;
    background: #fff;
    border: 1px solid rgb(241, 72, 72);
    border-radius: 50%;
    padding: 4px 10px;
    font-weight: 800;
    font-size: 16px;  
  }
  